.App {
  text-align: center;
}


ul {
  list-style: none;
  padding: 0;
}


li {
  display: flex;
  justify-content: center;
}

.wrap {
  width: 220px;
  display: flex;
  justify-content: space-between;
}

.delete {
  color: red;
  cursor: pointer;
}

input:checked + span {
  text-decoration: line-through;
}